vampapi/_build/
vampapi/deps/
vampapi/doc/
vampapi/node_modules/
vampapi/tmp/
vampapi/cover/

vampapi/assets/*

vampapi/installer/_build/
vampapi/installer/assets/
vampapi/installer/deps/
vampapi/installer/doc/
vampapi/installer/phx_new-*.ez

vampapi/integration_test/_build/
vampapi/integration_test/deps/

vampapi/erl_crash.dump
vampapi/phoenix-*.ez